---
import type {HTMLAttributes} from "astro/types";
interface Props extends HTMLAttributes<"body"> {
    title?: string
}

const {title, ...attrs} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title + " | "}Site title</title>
</head>
<body {...attrs}>
    <slot/>
</body>
</html>